body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;

    color: black;
}

/* For the "select platform */
select {
    width: max-content;
    padding: 10px;

    font-family: 'Fredoka';
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

/* Star logic -> maybe there's a way to separate it? */
.star {
    display: inline-block;
    width: 48px;
    height: 42px;
    background-size: contain;
}

.full {
    background-image: url('../pics/blue_star.png');
}

.half {
    background-image: url('../pics/half_blue_star.png');
}

.empty {
    background-image: url('../pics/empty_star.png');
}

.medium {
    width: 37px;
    height: 32px;
}

/* Left block */

.game_info {
    border: solid black;
    border-width: 3px;

    text-align: center;

    margin: 24px;
    margin-bottom: 0px;
    margin-top: 36px;
}

.game_info p {
    color: #4952b3;
    
    font-size: 30px;
    white-space: nowrap;
    height: max-content;
}

.game_cover {
    height: 70%;
    padding: 20px;
}

.game_cover img{
    aspect-ratio: 1080/1920;
    width:210px;

    object-fit: cover;
    overflow: hidden;
}

.user_ratings { 
    text-align: center;
}

.user_ratings p{
    color: #4952b3;
    
    font-size: 30px;
    white-space: nowrap;
}

.user_ratings {
    color: #4952b3;
    
    font-size: 30px;    
    white-space: nowrap;
}

/* User's review */
.your_review_txt {
    font-size: 25px;

}

.user_review {
    display: flex;

    margin: 24px;
}

#game_rating {

    font-family: 'Fredoka';
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;

    overflow: auto; 
}

.edit_review_button {
    width: 180px;
    height: 50px;
    
    font-size: 20px;
    font-family: 'Fredoka';

    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;
}

.edit_review {
    float: right;

    width: 80%;

    margin: 24px;
}

.text_div {
    border: solid black;
    border-width: 4px;
    border-radius: 10px;

    width: inherit;
    height: 60%;
}

.review_text {
    height: 95%;
    width: 99%;

    padding: 5px;
    border: 0px;
    resize: none;
    outline: none;

    font-size: 20px;
    font-family: 'Fredoka';
}