body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;

    color: black;
}

/* For the "select platform */
select {
    width: 30%;
    padding: 10px;

    font-family: 'Fredoka';
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-sizing: border-box;

    position: relative;
    top: 407px;
    left: 30%;
}

/* Star logic -> maybe there's a way to separate it? */
.star {
    display: inline-block;
    width: 48px;
    height: 42px;
    background-size: contain;
}

.full {
    background-image: url('../pics/blue_star.png');
}

.half {
    background-image: url('../pics/half_blue_star.png');
}

.empty {
    background-image: url('../pics/empty_star.png');
}

.medium {
    width: 37px;
    height: 32px;
}

/* Left block */
.cover_border {
    height: 78%;
    width: 310px;
    margin-right: 40px;
    margin-left: 40px;

    border-radius: 10px;

    position: absolute;
    top: 120px;
}

.game_info {
    /* border: solid black;
    border-width: 3px; */

    text-align: center;

    margin: 24px;
    margin-bottom: 0px;
    margin-top: 36px;
}

.game_info p {
    color: #4952b3;
    
    font-size: 30px;
    white-space: nowrap;
    height: max-content;
}

.game_cover {
    height: 70%;
    padding: 20px;
}

.game_cover img{
    aspect-ratio: 1080/1920;
    width:210px;

    object-fit: cover;
    overflow: hidden;
}

.user_ratings { 
    text-align: center;
}

.user_ratings p{
    color: #4952b3;
    
    font-size: 30px;
    white-space: nowrap;
}

.user_ratings {
    color: #4952b3;
    
    font-size: 30px;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#game_rating_star {
    position: absolute;
    top: 520px;
    left: 10%;
}


/* User's review */
.user_review_div {
    height: 628px;
    width: calc(100% - 339px - 40px);
    margin-left: 40px;

    position:absolute;
    left: 339px;
}

.your_review_txt {
    font-size: 25px;

    position: absolute;
    top: 40px;
}

.game_name {
    font-size: 80px;

    position: relative;
    top: 60px;
}

.user_review {
    display: flex;

    margin: 24px;
}

.user_review span {
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.your_rating_txt {
    font-size: 30px;

    position: absolute;
    top: 81%;
    right: 11%;
}

#game_rating {
    height: 5%;
    width: 5%;

    font-family: 'Fredoka';
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 80%;
    right: 3%;

    overflow: auto; 
}

.edit_review_button {
    position: relative;
    top: -55px;
    right: -81.5%;

    width: 180px;
    height: 50px;
    
    font-size: 20px;
    font-family: 'Fredoka';

    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;
}