body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;

    color: black;
}

/* Star logic -> maybe there's a way to separate it? */
.star {
    display: inline-block;
    width: 48px;
    height: 42px;
    background-size: contain;
}

.full {
    background-image: url('../pics/blue_star.png');
}

.half {
    background-image: url('../pics/half_blue_star.png');
}

.empty {
    background-image: url('../pics/empty_star.png');
}

.medium {
    width: 37px;
    height: 32px;
}

.game_info {
    float: left;
}

.review_info #game_name{
    font-size: 80px;
}

.missing_review #game_name{
    font-size: 80px;
}

/* Left block */
.user_review {
    display: flex;

    margin: 24px;
}

.game_info {
    /* border: solid black;
    border-width: 3px; */

    text-align: center;

    margin: 24px;
    margin-bottom: 0px;
    margin-top: 36px;
}

.game_info p {
    color: #4952b3;
    
    font-size: 30px;
    white-space: nowrap;
    height: max-content;
}

.game_cover {
    height: 70%;
    padding: 20px;
}

.game_cover img{
    aspect-ratio: 1080/1920;
    width:210px;

    object-fit: cover;
    overflow: hidden;
}

.user_ratings { 
    text-align: center;
}

.user_ratings p{
    color: #4952b3;
    
    font-size: 30px;
    white-space: nowrap;
}

.review_info {
    float: right;

    width: 80%;

    margin: 24px;
}

.review_info .review_text {
    height: 70%;

    overflow: auto;

    border: solid black;
    border-width: 3px;

    border-radius: 10px;
}

.review_info .review_text p{
    font-size: 32px;
}

/* User's review */
#user_rating_star {
    position: absolute;
    top: 30px;
    right: 3%;
}

.user_review span {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.edit_review_button {
    width: 180px;
    height: 50px;

    margin: 10px;
    
    font-size: 20px;
    font-family: 'Fredoka';

    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;    
}

.no_review {
    font-size: 35px;
    position: relative;
    top: 10%;
    text-align: center;
}

.add_review_button {
    width: 180px;
    height: 50px;
    
    font-size: 20px;
    font-family: 'Fredoka';

    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;
}

/* Other users reviews */
.friend_reviews_div {
    width: 100%;
    height: 200px;

    position: absolute;
    top: 730px;
}

.friend_name {
    font-size: 35px;
    position:absolute;
    left: 1.8%;
}

.friend_review {
    height: 60%;
    width: 95%;

    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto; 
}

.user_review span {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#friend_rating_star {
    position: absolute;
    top: 3px;
    right: 2%;;
}

.no_friend_review {
    font-size: 35px;
    position: relative;
    top: 30%;
    text-align: center;
}