.navbar{
    overflow: hidden;
    background-color: #4952b3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure the header stays on top of other content */
}

.navbar #logo_div{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

.navbar #logo_img {
    max-height: 72px;
    cursor: pointer; 
}

.navbar #user_icon {
    background-color: white;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.navbar .nav_item{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    align-items: center;
}

.navbar .nav_item #profile_btn{
    float: right;
    display: block;
    color: white;
    
    text-align: center;
    text-decoration: none;
    align-items: center;

    width: 80px;
    height: 80px;

    padding: 8px 12px;
    border-radius: 50%;
    border-color: white;
}

.friends_pop_up {
    display: none;
    position: fixed;
    right: 50px;
    z-index: 100;

    min-height: 80px;
    max-height: 400px;
    width: 300px;
    
    background-color: #4952b3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.friends_pop_up .add_friend {
    background-color: white;
    
    border-color: grey;
    
    margin: 5px;
    height: 72px;

    overflow: hidden;
}

.friends_pop_up .add_friend #add_icon{
    font-size: 48px;
    color: #4952b3; 
    float: right;
    margin-top: 5px;
    margin-right: 8px;
    
}

.friends_pop_up .friends_list {
    display: block;
    right: 50px;

    min-height: 240px;
    max-height: 400px;
    width: 300px;
    
    background-color: #4952b3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
}

.friends_pop_up .friends_list .friend_content {
    background-color: white;
    border-color: grey;
    
    margin: 5px;
    height: 72px;

    overflow: hidden;

    cursor: pointer;
}

.friends_pop_up .friends_list .friend_content img {
    float: left;
    background-color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    margin-top: 8px;

    box-shadow: black;
}

.friends_pop_up .friends_list .friend_content #friends_name {
    font-size: 20px;
    float: left;
    text-align: center;
    margin: 10px;
    margin-top: 24px;
    margin-left: 16px;
}

.profile_pop_up {
    display: none;
    position: fixed;
    right: 18px;
    z-index: 100;

    height: 72px;
    width: 180px;
    
    background-color: #4952b3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile_pop_up .log_out {
    background-color: white;
    color: white;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    margin: 5px;

    overflow: hidden;
}

.profile_pop_up .log_out #log_out_icon{
    font-size: 36px;
    color: white; 
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    
}

* {
    margin: 0;
    padding: 0;
}


#my_friends {
    font-family: 'Fredoka';
    font-size: 25px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;

    position: relative;
    text-align: right;
    left: 15%;
}