body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;

    color: black;
}

/* Star logic -> maybe there's a way to separate it? */
.star {
    display: inline-block;
    width: 48px;
    height: 42px;
    background-size: contain;
}

.full {
    background-image: url('../pics/blue_star.png');
}

.half {
    background-image: url('../pics/half_blue_star.png');
}

.empty {
    background-image: url('../pics/empty_star.png');
}

.small {
    width: 26px;
    height: 22px;
}

/* Search bar title and my games title */
h3 {
    text-align: center;
    font-size: 50px;
}

#search_bar {
    width: 40%;
    height: 40px;
    margin-bottom: 40px;

    position:relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Fredoka';
    text-align: center;

    background-color: #676ec2;
}

#search_button {
    width: 10%;
    height: 8%;

    position: relative;
    top: -3px;
    left: 30%;
    
    font-size: 30px;
    font-family: 'Fredoka';
    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;
}

#search_popup {
    display: none;
    width: 45%;
    height: 50px;
    z-index: 100;
    border-radius: 10px;

    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);

    background-color: white;
    border: 2px solid black;
}

.searched_game {
    display: block;
    margin-bottom: 5px;

    padding: 10px;
    width: auto;
    height: 50px;

    color: inherit;
    text-decoration: none;
}

.searched_game h4 {
    font-family: "Fredoka";
    font-size: 35px;

    position: relative;
    top: -113%;
    left: 10%;
}

.searched_game #game_icon {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;

    position: relative;
    top: -10%;
}

/* User's games grid */
.game_grid {
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Inside game portion of the grid */
.game_item {
    height: 300px;
}

.game_cover {
    height: 85%;
    aspect-ratio: 1080/1920;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border: 4px solid black;

    cursor: pointer;

    overflow: hidden;
    object-fit: cover;
}

.game_platform {
    color: black;
    font-size: 150%;

    position: relative;
    top: -1%;
    left: 23%;
}

#game_rating_star {
    position: relative;
    top: -10%;
    left: 38%;
}


.no_games {
    position: relative;
    top: 150px;

    font-size: 40px;
    text-align: center;
}