body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;

    color: black;
}

/* Star logic -> maybe there's a way to separate it? */
.star {
    display: inline-block;
    width: 48px;
    height: 42px;
    background-size: contain;
}

.full {
    background-image: url('../pics/blue_star.png');
}

.half {
    background-image: url('../pics/half_blue_star.png');
}

.empty {
    background-image: url('../pics/empty_star.png');
}

.small {
    width: 26px;
    height: 22px;
}

/* Search bar title and my games title */
h3 {
    text-align: center;
    font-size: 50px;
}

.profile_info {
    display: flex;

    max-height: 320px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.profile_info .user_icon{
    max-height: 75%;
    width: 50%;

    float: left;
}

.profile_info .user_icon #picture{
    float: right;
    background-color: white;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: black;
    padding: 64px;
}

.profile_info .profile_text{
    max-height: 75%;
    width: 50%;
    
    float: right;
    padding: 48px;
    padding-right: 10px;
    margin-top: 32px;
}

.profile_info .profile_text p{
    font-size: 28px;
    line-height: 60px;
}

.profile_info .profile_text b{
    color: #4952b3;
    
}


/* User's games grid */
.game_grid {
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.game_item {
    height: 300px;
}

.game_cover {
    height: 85%;
    aspect-ratio: 1080/1920;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border: 4px solid black;

    overflow: hidden;
    object-fit: cover;
}

.game_platform {
    color: black;
    font-size: 150%;

    position: relative;
    top: -1%;
    left: 23%;
}

#game_rating_star {
    position: relative;
    top: -10%;
    left: 38%;
}

.no_games {
    position: relative;
    top: 150px;

    font-size: 40px;
    text-align: center;
}

#search_button {
    width: min-content;
    height: 8%;
    
    font-size: 36px;
    font-family: 'Fredoka';
    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;

    padding: 2px;
}

#friend_confirm {
    width: 35%;
    height: min-content;
    
    font-size: 32px;
    font-family: 'Fredoka';
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

    background-color: white;
    color: #4952b3;
}

#already_friend {
    width: 60%;
    height: min-content;
    
    font-size: 32px;
    font-family: 'Fredoka';
    border-radius: 10px;
    border: 2px solid black;

    background-color: white;
    color: #4952b3;
}