body {
    background-color: #4952b3;
    font-family: 'Fredoka', sans-serif;

    display: block;

    color: white;
    text-align: center;
    font-size: 40px;
}

input[type="text"], input[type="password"] {
    width: 40%;
    height: 40px;

    border-radius: 10px;
    font-size: 30px;
    font-family: 'Fredoka';
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 35%;
    height: auto; 

    position: relative;
    top: 30px;
}

.username {
    position: relative;
    top: -10px;
}

.password {
    position: relative;
    top: -108px; 
}

.enter_button {
    position: relative;
    top: -60px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150px;
    height: 50px;
    
    font-size: 40px;
    font-family: 'Fredoka';

    border-radius: 10px;

    background-color: white;
    color: #4952b3;
    cursor: pointer;
}

.forgot_password_button {
    position: relative;
    top: -155px;
    left: 50%;
    transform: translate(-50%, -50%);

    
    font-size: 20px;
    font-family: 'Fredoka';

    padding: 0;
    border: none;
    background: none;

    color: white;
    cursor: pointer;
}

.new_account_button {
    position: relative;
    top: -70px;
    left: 50%;
    transform: translate(-50%, -50%);

    
    font-size: 25px;
    font-family: 'Fredoka';

    padding: 0;
    border: none;
    background: none;

    color: white;
    cursor: pointer;
}

#username_bar {
    position: relative;
    top: -70px;
}

#password_bar {
    position: relative;
    top: -170px;
}