<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_game_review_style.css' %}"/>

    <title>
        {{ game.name }} / RankD
    </title>
    
</head>


<body>
    {% include 'header.html' %}

    <div style="margin-top: 100px;">

        <div class="user_review">
            <div class="game_info">
                <div class="game_cover">
                    <img src="{% get_media_prefix %}{{game.cover_path}}">
                </div>
                <div class="user_ratings" style="padding-top: 10px;">
                    <p class="user_ratings"> User Ratings </p>
                    <div class="star_rating" rating= {{ game.mean_rating }}></div>
                </div>
            </div>
            {% if user_review %}
                <p> Edit Review </p>
                
                <form id="review_form", method="post" onsubmit="return validate_form()">
                    {% csrf_token %}
                    <div>
                        <textarea name="comment">{{ user_review.comment }}</textarea>
                    </div>
                
                    <div>
                        <p> Edit your rating: </p>
                        <input type="number" id="game_rating" name="game_rating" min="0" max="10" step="1" value={{ user_review.rating }}>           
                    </div>

                    <div>
                        <p> Insert the game platform: </p>
                        {{ form.platform }}         
                    </div>
                
                    <div>
                        <input type="submit" value="Edit Review" class="edit_review_button">
                    </div>
                </form>
            {% else %}
                <p class="your_review_txt"> Add Review </p>
                    
                <form id="review_form" method="post" onsubmit="return validate_form()">
                    {% csrf_token %}
                    <div>
                        <textarea class="user_review" name="comment" placeholder="Add Review Here!"></textarea>
                    </div>
                
                    <div>
                        <p class="your_rating_txt"> Add your rating: </p>
                        <input type="number" id="game_rating" name="game_rating" min="0" max="10" step="1" placeholder="10">           
                    </div>
                
                    <div>
                        <p class="your_rating_txt" style="left:0%;"> Insert the game platform: </p>
                        {{ form.platform }}         
                    </div>

                    <div>
                        <input type="submit" value="Add Review" class="edit_review_button">
                    </div>
                </form>
            {% endif %}
        </div>

        {% load static %}
        <script src="{% static 'js/stars.js' %}"></script>
</body>

</html>