<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_page_style.css' %}"/>

    <title>
        {{ game.name }} / RankD
    </title>
    
</head>


<body>
    {% include 'header.html' %}
    {% load static %}
    <div style="margin-top: 100px;">
        <!-- Cover and user rating -->

        <div class="user_review">
            <div class="game_info">
                <div class="game_cover">
                    <img src="{% get_media_prefix %}{{game.cover_path}}">
                </div>
                <div class="user_ratings" style="padding-top: 10px;">
                    <p class="user_ratings"> User Ratings </p>
                    <div class="star_rating" rating= {{ game.mean_rating }}></div>
                </div>
            </div>
            {% if user_review %}
                <div class="review_info">
                    <div class="your_rating" style="display: flex; width: 100%; justify-content:space-between;">
                        <div style="float: left; justify-self: self-start; width: 50%;">
                            <p style="font-size: 36px;">Your review for</p>
                            <p id="game_name">{{ game.name }}</p>
                        </div>
                        <div style="float: right;">
                            <a href="/{{ user.username }}/add-review/{{ game.name }}" style="padding-bottom: 10px; float: right;">
                                <button class="edit_review_button"> Edit Your Review! </button>
                            </a>
                            <div class="star_rating" rating= {{ user_review.rating }}></div>
                        </div>
                    </div>
                    <div class="review_text">
                        <p id="review_text">{{user_review.comment}}</p>
                    </div>
                </div>
            {% else %}
                <div class="missing_review" style="width: 80%; margin: 36px;">
                    <p id="game_name">{{ game.name }}</p>
                    <div style="text-align: center; justify-content: center; height: 80%;">
                        <div style="margin: 64px">
                            <p style="font-size: 56px;"> You haven't reviewed this game yet! </p>
                            <a href="/{{ user.username }}/add-review/{{ game.name }}">
                                <button class="add_review_button"> Add Your Review! </button>
                            </a>
                        </div>
                        
                    </div>
                </div>
            {% endif %}
        </div>

        <hr style="border: 1px full black; width: 100%; border-spacing: 100px;">

        <!-- Other user reviews -->
        <div class="friend_reviews_div">
            {% if friends_review %}
                {% for review in friends_review %}
                    <div class="friend_name"> {{ review.user.username }}'s Review </div>
                    <div class="friend_review"> {{ review.comment }} </div>
                    <div class="star_rating" rating={{ review.rating }} star_size="medium" id="friend_rating_star"></div>
                {% endfor %}
            {% else %}
                <h3 class="no_friend_review"> Your friends haven't reviewed this game yet!</h3>
            {% endif %}
        </div>

        {% load static %}
        <script src="{% static 'js/stars.js' %}"></script>
        </div>
</body>

</html>