<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_page_style.css' %}"/>

    <title>
        {{ game.name }} / RankD
    </title>
    
</head>


<body>
    {% include 'header.html' %}

    <!-- Cover and user rating -->
    <!-- Change star's rating for backend info! -->
    <div class="cover_border">
        {% load static %}
        <img onclick="go_to_game_review()" src="{% static game.cover_path %}" class="game_cover">
        <h3 class="user_ratings"> User Ratings </h3>
        <div class="star_rating" rating= {{ user_review.game.mean_rating }} id="game_rating_star"></div>
    </div>

    <!-- User review -->
    <div class="user_review_div">

        {% if user_review %}
            <h3 class="your_review_txt"> Your Review </h3>
            <h3 class="game_name"> {{ user_review.game.name }} </h3>
            <div class="star_rating" rating= {{ user_review.rating }} star_size="medium" id="user_rating_star"></div>
            <span class="user_review"> {{ user_review.comment }} </span> 

            <button onclick="edit_review()" class="edit_review_button"> Edit Your Review! </button>
            <script>
                function edit_review() {
                    alert('Editing Review!');
                }
            </script>

        {% else %}
            <!-- Tá bugado -->
            <h3 class="game_name"> {{ game.name }} </h3>
            <h3 class="no_review"> You haven't reviewed this game yet!</h3>
            <button onclick="add_review()" class="add_review_button"> Add Your Review! </button>
        {% endif %}
    </div>

    <hr style="border: 1px dotted black; position:absolute; top: 700px; width: 99.5%; border-spacing: 100px;">

    <!-- Other user reviews -->
    <div class="friend_reviews_div">
        {% if friends_review %}
            {% for review in friends_review %}
                <div class="friend_name"> {{ review.user.name }}'s Review </div>
                <div class="friend_review"> {{ review.comment }} </div>
                <div class="star_rating" rating={{ review.rating }} star_size="medium" id="friend_rating_star"></div>
            {% endfor %}
        {% else %}
            <h3 class="no_friend_review"> Your friends haven't reviewed this game yet!</h3>
        {% endif %}
    </div>

    {% load static %}
    <script src="{% static 'js/stars.js' %}"></script>
    
</body>

</html>