<!-- header.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/header_style.css' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>

    <style>
        .add_friends_pop_up {
            display: {% if friend_query %} block {% else %} none {% endif %};
        }
        .friends_pop_up {
            display: {% if friend_query %} block {% else %} none {% endif %};
        }
    </style>
</head>

<body>
    {% load static %}
    <div class="navbar">
        <div class="nav_item" id="logo_div">
                <a href="/{{ user.username }}">
                    <img src="{% static 'pics/RankD.png' %}" id="logo_img">
                </a>
            </div>
            
            <div class="nav_item" id="profile_btn">
                <img src="{% get_media_prefix %}{{user.icon_path}}" id="user_icon">
            </div>

            <div class="nav_item">
                <button id="my_friends" style="padding: 20px; margin-right: 25px;"> My Friends </button>
            </div>

            <div class="nav_item" style="padding-top: 28px;">
                <a id="nav_button" style="padding: 20px; margin-right: 25px; text-decoration: none; color: inherit;" href="/{{ user.username }}"> My Reviews </a>
            </div>

            <div class="nav_item" style="padding-top: 28px;">
                <a id="nav_button" style="padding: 20px; margin-right: 25px; text-decoration: none; color: inherit;" href="/{{ user.username }}/games"> Search Games </a>
            </div>

            <div class="nav_item" style="align-self: auto;">
                <p style="font-size: 25px;margin-top: 20px;"> Welcome, {{ user.username }}! </p>  
            </div>        
        </div>
        
        <div class="friends_pop_up" id="friends_pop_up">
               
            <form id="friend_form" method="get" id="add_friend_form">
                <div class="add_friend">
                    <button style="float: right; background-color: transparent; border: 0; cursor: pointer;" id="search_friends" >
                        <i class="material-icons" id="add_icon" >group_add</i>
                    </button>
                    <input class="text" name="searched_friend" placeholder="Add new friends!" style="float: right; font-size: 18px; margin-top: 14px; margin-right: 5px; height: 32px;">
                </div>
            </form>

            <div class="friends_list">
                {% if user_friends %}
                    {% for friend in user_friends %}
                    <a href="/{{user.username}}/profile/{{friend.username}}">
                        <div class="friend_content">
                            <img src="{% get_media_prefix %}{{friend.icon_path}}" id="user_icon">
                            <p id="friends_name">{{ friend.username }}</p>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p style="color: white; font-size: 28px; width: auto; text-align: center; margin: 20px;">No Friends Yet!</p>
                {% endif %}
            </div>
        </div>

        <div class="add_friends_pop_up" id="add_friends_pop_up">
            <div class="add_friends_list">
                {% if friend_query %}   
                    {% for friend in friend_query %}
                    <a href="/{{user.username}}/profile/{{friend.username}}">
                        <div class="add_friend_content">
                            <img src="{% get_media_prefix %}{{friend.icon_path}}" id="user_icon">
                            <p id="add_friends_name">{{ friend.username }}</p>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p style="color: white; font-size: 28px; width: auto; text-align: center; margin: 20px;">No Friends Yet!</p>
                {% endif %}
            </div>
        </div>
        
        <div class="profile_pop_up" id="profile_pop_up">
            <button class="log_out" style="float: right; background-color: transparent; border: 0; cursor: pointer;">
                <i class="material-icons" id="log_out_icon" >exit_to_app</i>
                <a style="float: right; font-size: 24px; margin: 16px; margin-right: 20px; text-decoration: none; color: white;" href="/login">
                    Log Out
                </a>    
            </button>
        </div>

    </div>

    {% load static %}
    <script src="{% static 'js/header_functions.js' %}"></script>
</body>
</html>