<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_page_style.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>
        
        <title>
            Login / RankD
        </title>
    </head>

    <body>
        {% load static %}
        <img src="{% static 'pics/RankD.png' %}" class="logo">
        
        <h2 class="username">
            Username
        </h2>

        <input type="text" id="username_bar" name="username">

        <h2 class="password">
            Password
        </h2>

        <input type="password" id="password_bar" name="password">

        <!-- Forgot password button -->
        <button onclick="forgot_password()" class="forgot_password_button"> Forgot your password? </button>
                
        <script>
            function forgot_password() {
                alert('Password forgotten :(');
            }
        </script>

        <!-- Enter button -->
        <button onclick="return_credentials()" class="enter_button"> Enter </button>
        
        <script>
            function return_credentials() {
                var username = document.getElementById('username_bar').value;
                var password = document.getElementById('password_bar').value;

                alert('Username: ' + username + '\nPassword: ' + password);
            }
        </script>

        <!-- New account button -->
        <button onclick="create_account()" class="new_account_button"> Don't have an account? </button>
        
        <script>
            function create_account() {
                alert("let's create a new account!");
            }
        </script>

            
    </body>


</html>