<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_page_style.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>
        
        <title>
            Login / RankD
        </title>
    </head>

    <body>
        {% load static %}
        <img src="{% static 'pics/RankD.png' %}" class="logo">

        {% if error %}
            <p style="color:red;">{{error}}</p>
        {% endif %}


        <form id="login_form" method="post" onsubmit="return validate_form()">
            {% csrf_token %}
                <div class="input_section">
                    <p>Username</p>

                    <input type="text" id="username_bar" name="username"
                    placeholder="Username"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Username'"
                    required>
                </div>
            
                <div class="input_section">
                    <p>Password</p>
            
                    <input type="password" id="password_bar" name="password"
                    placeholder="Password" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Password'"
                    required>            
                </div>

                <div class="input_section" style="padding-top: 0px;">
                    <a href="/reset_password">
                        <div class="new_account_button"> Forgot your password? </div>
                    </a>
                </div>                
            
                <div class="input_section">
                    <input type="submit" value="Login" class="enter_button" style="font-size: 36px;">
                </div>
        </form>

        <a href="/signup" style="padding: 10px;">
            <div class="new_account_button"> Don't have an account? Sign up now.</div>
        </a>
    
    </body>


</html>