<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_page_style.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>
        
        <title>
            Login / RankD
        </title>
    </head>

    <body>
        {% load static %}
        <img src="{% static 'pics/RankD.png' %}" class="logo">

        {% if error %}
            <p style="color:red;">{{error}}</p>
        {% endif %}


        <form id="login_form", method="post">
            {% csrf_token %}
                <div>
                    <h2 class="username">
                        Username
                    </h2>

                    <input type="text" id="username_bar" name="username"
                    placeholder="Username"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Username'"
                    required>
                </div>
            
                <div>
                    <h2 class="password">
                        Password
                    </h2>
            
                    <input type="password" id="password_bar" name="password"
                    placeholder="Password" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Password'"
                    required>            
                </div>

                <div>
                    <button onclick="forgot_password()" class="forgot_password_button"> Forgot your password? </button>
                </div>
            
                <div>
                    <input type="submit" value="Submit" class="enter_button">
                </div>
        </form>

        <script>
            function validate_form() {
                var form = document.getElementById("create_account_form")
                if (form.checkValidity()) {
                    alert("Account created successfully")
                }
            }
        </script>

        <a href="/signup">
            <div class="new_account_button"> Don't have an account? </div>
        </a>
        
            
    </body>


</html>