<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password_style.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>
        
        <title>
            Login / RankD
        </title>
    </head>

    <body>
        {% load static %}
        <img src="{% static 'pics/RankD.png' %}" class="logo">

        {% if error %}
            <p style="color:red;">{{error}}</p>
        {% endif %}


        <form id="login_form" method="post">
            {% csrf_token %}
                <div class="input_section">
                    <p style="padding: 15px;">Reset your password</p>

                    <input type="text" id="username_bar" name="password"
                    placeholder="New Password"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'New password'"
                    required>
                </div>
                <div>
                    <input type="text" id="username_bar" name="password-repeat"
                    placeholder="Repeat new Password"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Repeat new password'"
                    required>
                </div>  
            
                <div class="input_section">
                    <input type="submit" value="Reset password" class="enter_button" style="font-size: 32px;">
                </div>
        </form>
    </body>
</html>