<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>

    <title>
        {{ user.username }}'s Profile / RankD
    </title>
</head>


<body>
    {% include 'header.html' %}

    <!--Adding logic-->
    <div style="margin-top: 100px;">

        <div class="profile_info">
            <div class="user_icon">
                <img src="{% static 'pics/default_user_icon.png' %}" id="picture">
            </div>
            <div class="profile_text">
                <p><b>User's name:</b> {{ user.username }}</p>
                <p><b>User's email:</b> {{ user.email }}</p>
                <p><b>Games reviewed:</b> {{ games_reviewed }}</p>
            </div>
        </div>

        <h3>{{ user.username }}'s Reviews</h3>
        
        {% if user_reviews %}
            <div class="game_grid">
                {% for game_review in user_reviews %}
                    <div class="game_item">
                        {% load static %}
                        <a href="/{{ user.username }}/review-page/{{ game_review.game.name }}">
                            <img src="{% static game_review.game.cover_path %}" class="game_cover">
                        </a>
                        
                        <h4 class="game_platform"> {{ game_review.platform.slang }} </h4>

                        <div class="star_rating" rating={{ game_review.rating }} star_size="small" id="game_rating_star"></div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no_games"> You don't have games in your library yet! </div>
        {% endif %}


        {% load static %}
        <script src="{% static 'js/stars.js' %}"></script>
        {% load static %}
        <script src="{% static 'js/home_functions.js' %}"></script>
    </div>
</body>

</html>