<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password_style.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>
        
        <title>
            Login / RankD
        </title>
    </head>

    <body>
        {% load static %}
        <img src="{% static 'pics/RankD.png' %}" class="logo">

        {% if error %}
            <p style="color:red;">{{error}}</p>
        {% endif %}


        <form id="login_form" method="post" onsubmit="return validate_form()">
            {% csrf_token %}
                <div class="input_section">
                    <p>Reset your password</p>
                    <p style="font-size: 20px; padding: 15px;">We will send an email with instructions to reset your password.<br> Please input the email address linked with your account.</p>

                    <input type="text" id="username_bar" name="username"
                    placeholder="Email address"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Username'"
                    required>
                </div>         
            
                <div class="input_section">
                    <input type="submit" value="Send Email" class="enter_button" style="font-size: 32px;">
                </div>
        </form>

        <div class="new_account_button">
            <a href="/signup" style="margin: 5px;">
                Don't have an account? Sign up now.
            </a>
        </div>
    
    </body>


</html>