<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
    
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup_style.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Fredoka' rel='stylesheet'>
    
        <title>
            Sign Up
        </title>
    </head>

    <body>
        {% load static %}
        <header>
            <img src="{% static 'pics/RankD.png' %}" class="logo">
        </header>

        {% if error %}
            <p style="color:red;">{{error}}</p>
        {% endif %}

        <h1 style="margin: 16px; margin-top: 40px;">Create New Account</h1>
        
        {% if error %}
            <p style="color:red;">{{error}}</p>
        {% endif %}

        <form id="create_account_form", method="post">
            {% csrf_token %}
                <div>
                    <input type="text" id="username_bar" name="username" 
                    placeholder="Username" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Username'"
                    required>
                </div>
            
                <div>
                    <input type="email" id="email_bar" name="email" 
                    placeholder="Email" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Email'"
                    required>
                </div>
            
                <div>
                    <input type="password" id="password_bar" name="password" 
                    placeholder="Password" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Password'"
                    required>
                </div>
            
                <div>
                    <input type="password" id="confirm_password_bar" name="confirm_password" 
                    placeholder="Confirm Password" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Confirm Password'"
                    required>
                </div>

                <div class="file_input">
                    <p style="padding: 0px; margin: 0px; font-size: 38px;">Profile Picture</p>
                    <input type="file" id= "user_image" name="user_image">
                </div>
            
                <div>
                    <input type="submit" value="Submit">
                </div>
        </form>

        <script>
            function validate_form() {
                var form = document.getElementById("create_account_form")
                if (form.checkValidity()) {
                    alert("Account created successfully")
                }
            }
        </script>
            
    </body>
</html>